---
import MainLayout from "../layouts/MainLayout.astro";
import Abonnement from "../components/card_abonnement.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import figure_blue from "../assets/images/section_1.svg";
---

<MainLayout title="Titel">
  <article class="">
    <h1 class="text-h1_m font-display text-brown-800 font-bold lg:text-h1_d max-w-[20.375rem] md:max-w-[43rem] lg:max-w-[58rem] xl:max-w-[70rem] 2xl:max-w-[87rem] mx-auto mb-13xl md:mb-14xl lg:mb-16xl xl:mb-18x">Vælg dit abonnement</h1>
    <div class="z-30">
      <Image class="flip_horisontal w-full -mb-1" src={figure_blue} alt="Blå bue" />
      <div class="bg-blue-500 h-[1000px] md:h-[328px]"></div>
      <Image class="flip_vertikal w-full -mt-1" src={figure_blue} alt="Blå bue" />
    </div>
    <div class="mt-[-1200px] md:mt-[-620px] lg:mt-[-700px] xl:mt-[-750px] 2xl:mt-[-810px] max-w-[20.375rem] md:max-w-[43rem] lg:max-w-[58rem] xl:max-w-[70rem] 2xl:max-w-[87rem] mx-auto grid grid-cols-12 space-y-l md:space-y-0 md:gap-l">
      <div class="z-50 col-start-1 col-span-12 md:col-start-1 md:col-span-6 lg:col-start-2 lg:col-span-5 xl:col-start-3 xl:col-span-4">
        <Abonnement url="#" badge="false" type="Basis" pris="199" icon1="check_black.svg" iconalt1="Sort check-ikon" icon2="check_black.svg" iconalt2="Sort check-ikon" icon3="check_black.svg" iconalt3="Sort check-ikon" icon4="cross_red.svg" iconalt4="Rødt kryds-ikon" icon5="cross_red.svg" iconalt5="Rødt kryds-ikon" />
      </div>
      <div class="z-50 col-start-1 col-span-12 md:col-start-7 md:col-span-6 lg:col-start-7 lg:col-span-5 xl:col-start-7 xl:col-span-4">
        <Abonnement url="#" badge="true" type="Plus" pris="299" icon1="check_black.svg" iconalt1="Sort check-ikon" icon2="check_black.svg" iconalt2="Sort check-ikon" icon3="check_black.svg" iconalt3="Sort check-ikon" icon4="check_black.svg" iconalt4="Sort check-ikon" icon5="check_black.svg" iconalt5="Sort check-ikon" />
      </div>
    </div>

    <section class="space-y-3xl mb-7xl md:mb-14xl xl:mt-20xl 2xl:mt-[390px] lg:space-y-8xl max-w-[20.375rem] md:max-w-[43rem] lg:max-w-[58rem] xl:max-w-[70rem] 2xl:max-w-[87rem] mx-auto">
      <div class="space-y-m max-w-[44rem] mt-14xl">
        <h2 class="text-h2_m font-display text-brown-800 font-bold lg:text-h2_d">Om konceptet</h2>
        <p class="text-p font-sans text-neutrals-950 font-regular pb-ml">Hos Det Kollektive Klædeskab skaber vi et cirkulært klædeskab, hvor tøj får nyt liv. Dit skab er fyldt med skatte, som fortjener at blive brugt og elsket igen. Vi bytter tøj med hinanden og lader det fortsætte sin rejse.</p>
        <Link left="red_l" right="red_r" hover="hover" variant="primary">Sådan gør du</Link>
      </div>
      <div class="space-y-m max-w-[44rem]">
        <h2 class="text-h2_m font-display text-brown-800 font-bold lg:text-h2_d">Hvilket abonnement skal du vælge?</h2>
        <p class="text-p font-sans text-neutrals-950 font-regular">
          Med et månedligt abonnement hos Det Kollektive Klædeskab kan du forny din garderobe ved at bytte dit tøj til nyt. Du melder dig ind online, opnår point for dit brugte tøj og bytter tøj for dine point. Fordelen ved et Plus abonnement er, at du har mulighed for at benytte og bytte i alle vores butikker. Derudover er abonnementet lavet til
          dig, som mest ønsker at få nyt genbrugstøj, og som ikke har meget hjemme i dit private klædeskab, som kan byttes med. Hver måned får du nemlig 50 bonuspoint tildelt til din profil.
        </p>
      </div>
    </section>
  </article>
</MainLayout>
