---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Accordion from "../components/Accordion.astro";
import Abonnement from "../components/card_abonnement.astro";
import Anmeldelse from "../components/card_anmeldelse.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Titel">
  <!-- <article>
    <h1>Index overskrift</h1>
    <Button left="yellow_l" right="yellow_r" hover="hover" variant="secondary">Klik!</Button>
    <Button left="red_l" right="red_r" hover="hover" variant="primary">Klik!</Button>
    <p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
    <Image src={thumbsup} alt="" />
  </article> -->
  <article class="max-w-[20.375rem] md:max-w-[74.5rem] 2xl:max-w-[87rem] m-auto">
    <section class="grid md:grid-cols-2 lg:grid-cols-2 gap-3xl max-w-[818px]">
      <Abonnement url="#" badge="false" type="Basis" pris="199" />
      <Abonnement url="#" badge="true" type="Plus" pris="299" />
    </section>
    <section class="grid lg:grid-cols-3">
      <Anmeldelse
        url="#"
        cardimage="anmeldelse_1.webp"
        cardimagealt="Ung kvinde"
        overskrift="Sofia, 24 år"
        underoverskrift="Himmelev, Roskilde"
        anmeldelse="For mig er Det Kollektive Klædeskab en bæredygtig måde at forny garderoben på. Med et billigt månedligt abonnement kan jeg aflevere tøj og bytte det til nyt. Konceptet fungerer virkelig godt."
      />
      <Anmeldelse
        url="#"
        cardimage="anmeldelse_2.webp"
        cardimagealt="Ung kvinde"
        overskrift="Marie, 20 år"
        underoverskrift="Nørrebro, København"
        anmeldelse="For mig er Det Kollektive Klædeskab en bæredygtig måde at forny garderoben på. Med et billigt månedligt abonnement kan jeg aflevere tøj og bytte det til nyt. Konceptet fungerer virkelig godt."
      />
      <Anmeldelse
        url="#"
        cardimage="anmeldelse_3.webp"
        cardimagealt="Ung mand"
        overskrift="Jonas, 27 år"
        underoverskrift="Vesterbro, København"
        anmeldelse="For mig er Det Kollektive Klædeskab en bæredygtig måde at forny garderoben på. Med et billigt månedligt abonnement kan jeg aflevere tøj og bytte det til nyt. Konceptet fungerer virkelig godt."
      />
    </section>
  </article></MainLayout
>
