---
import Forms from "../components/Forms.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import line from "../assets/images/line.svg";
---

<MainLayout title="Titel">
  <div class="flex flex-cols">
    <Button variant="progres">1</Button>
    <Image class="" src={line} alt="Gruppebillede" />
    <Button variant="progres">2</Button>
    <Image class="" src={line} alt="Gruppebillede" />
    <p class="w-ml h-ml border-border-2 font-bold border-brown-800 rounded-border-radius-full text-p text-brown-800 flex items-center justify-center">3</p>
  </div>
  <article class="max-w-[20.375rem] md:max-w-[74.5rem] 2xl:max-w-[87rem] m-auto">
    <Forms />
  </article>
</MainLayout>
