---
import MainLayout from "../layouts/MainLayout.astro";
import Accordion from "../components/Accordion.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import large2 from "../assets/images/large_2.webp";
import figure1 from "../assets/images/figure_1.webp";
---

<MainLayout title="Koncept">
  <article class="">
    <section class="md:grid md:grid-cols-2 max-w-[20.375rem] md:max-w-[43rem] lg:max-w-[58rem] xl:max-w-[70rem] 2xl:max-w-[87rem] mx-auto">
      <div>
        <h1 class="text-h1_m md:text-h1_d font-display text-brown-800 pb-3xl">Koncept</h1>
        <h3 class="text-h3_m md:text-h3_d font-display text-brown-800 pb-s">Et cirkulært klædeskab</h3>
        <div class="space-y-sm">
          <p class="text-p font-sans">Hos Det Kollektive Klædeskab skaber vi et cirkulært klædeskab, hvor tøj får nyt liv. Dit skab er fyldt med skatte, som fortjener at blive brugt og elsket igen. Vi bytter tøj med hinanden og lader det fortsætte sin rejse.</p>
          <p class="text-p font-sans">Med et månedligt abonnement kan du bytte op til 10 stykker tøj ad gangen. Et plus-abonnement giver dig mulighed for at benytte alle Klædeskabe, og du får 50 bonuspoint hver måned.</p>
          <p class="text-p font-sans">Efter du har købt et medlemsskab og oprettet en profil kan du nemt tage dine skjorter, bukser eller jakker med til os, få point for dem og tage nyt genbrugstøj med hjem. Vi vurderer tøjet ud fra kvalitet, stand og efterspørgsel, så du får point, der matcher værdien.</p>
          <p class="text-p font-sans">Vil du vide mere, så besøg vores <Link variant="paragraphlinks" hover="hoverheaderbrown">FAQ lige her.</Link></p>
        </div>
        <div class="py-2xl">
          <Link left="red_l" right="red_r" hover="hover" variant="primary">Se abonnementer</Link>
        </div>
      </div>
      <div>
        <Image class="" src={figure1} alt="Figur med pige" />
      </div>
    </section>
    <section>
      <!-- 5 steps sektion -->
    </section>
    <section class="py-5xl md:py-15xl">
      <Image class="w-full" src={large2} alt="baggrund med pige i klædeskabet" />
    </section>
    <section class="pb-5xl md:grid md:grid-cols-2 md:gap-xl max-w-[20.375rem] md:max-w-[43rem] lg:max-w-[58rem] xl:max-w-[70rem] 2xl:max-w-[87rem] mx-auto">
      <div class="pb-l content-center">
        <h1 class="text-h1_m md:text-h2_d lg:text-h1_d font-display text-brown-800 text-right fittysmall">Ofte <br />stillede <br /> spørgsmål</h1>
      </div>
      <div>
        <Accordion txt="Hvordan kommer jeg ind i butikken?" size="desktop">
          <p class="text-p text-neutrals-950 pt-sm">Når du er medlem og kommer i vores butikker, vil du kunne komme til en butik, der er helt klar til dig, men hvor døren er låst. Da låser du dig ind med en kode eller ved at bruge nøglen, som er i en nøgleboks. Den aktuelle kode finder du i appen. Vær opmærksom på, at du kun kan og må lukke dig selv ind i butikken i vores åbningstid, som du finder her. Uden for åbningstiden har vi alarm på.</p>
        </Accordion>
        <Accordion txt="Hvordan afleverer jeg mit tøj?" size="desktop">
          <p class="text-p text-neutrals-950 pt-sm">Når du afleverer tøj, lægger du tøjet i en af vores kasser, tager en white board marker og udfylder sedlen på kassen med dit fulde navn, telefonnummer og dags dato og sætter kassen på plads igen. Du må aflevere 10 stykker tøj ad gangen.</p>
        </Accordion>
        <Accordion txt="Hvordan ser jeg mine point?" size="desktop">
          <p class="text-p text-neutrals-950 pt-sm">I løbet af en uge kan du se de point, du har fået for tøjet i din app. Appen hedder Det Kollektive Klædeskab og kan downloades til både Apple og Android. Du logger ind i appen med den mailadresse, som du brugte, da du meldte dig ind i Klædeskabet.</p>
        </Accordion>
        <Accordion txt="Hvordan får jeg tøj med hjem?" size="desktop">
          <p class="text-p text-neutrals-950 pt-sm">Når du har fundet det tøj, som du vil have med hjem, tager du det med til disken, hvor der vil være en specifik vejledning, som guider dig. Du tager tøjet af bøjlerne og lægger bøjlerne på deres plads. Du klipper pointmærkerne af, lægger pointene sammen og lægger pointmærker og små plastikdimser på plads. Så åbner du din app, trykker på ”mine point”, derefter trykker du på ”hæv” og indtaster det pointbeløb, du har brugt. Så godkender du, og pointene er straks hævet fra din saldo.</p>
          <p class="pt-m">Og så tager du tøjet med hjem og nyder de gode fund. Nemt og meningsfuldt.</p>
        </Accordion>
      </div>
    </section>
  </article>

  <script>
    import fitty from "fitty";
    fitty(".fitty");
    window.addEventListener("load", (event) => {
      fitty.fitAll();
    });
    fitty(".fittysmall", { minSize: 18, maxSize: 81 });
  </script>
</MainLayout>
