---
import MainLayout from "../layouts/MainLayout.astro";
import Butik from "../components/card_butik.astro";
import Personale from "../components/Personale.astro";
import { Image } from "astro:assets";
import figure_blue from "../assets/images/section_1.svg";
import Button from "../components/Button.astro";
---

<MainLayout title="Kontakt" description="Se åbningstider og kontakt Det Kollektive Klædeskab" ogtitle="Kontakt" ogdescription="Kontakt os og se åbningstider">
  <article class="">
    <article class="cursor cursor-blue_yellow_cursor">
      <section class="pb-8xl max-w-[20.375rem] md:max-w-[43rem] lg:max-w-[58rem] xl:max-w-[70rem] 2xl:max-w-[87rem] mx-auto">
        <div class="">
          <h1 class="text-h1_m lg:text-h1_d font-display text-brown-800 pb-l md:pb-3xl">Kontakt</h1>
          <div class="md:grid md:grid-cols-2 gap-14xl">
            <div id="abningstider">
              <h3 class="text-h3_m lg:text-h3_d font-display text-brown-800 pb-m">Åbningstider</h3>
              <div class="flex gap-l">
                <div>
                  <h6 class="text-h6_m lg:text-h6_d font-sans font-bold text-neutrals-950 md:pb-xxs">Mandag</h6>
                  <h6 class="text-h6_m lg:text-h6_d font-sans font-bold text-neutrals-950 md:pb-xxs">Tirsdag</h6>
                  <h6 class="text-h6_m lg:text-h6_d font-sans font-bold text-neutrals-950 md:pb-xxs">Onsdag</h6>
                  <h6 class="text-h6_m lg:text-h6_d font-sans font-bold text-neutrals-950 md:pb-xxs">Torsdag</h6>
                  <h6 class="text-h6_m lg:text-h6_d font-sans font-bold text-neutrals-950 md:pb-xxs">Fredag</h6>
                  <h6 class="text-h6_m lg:text-h6_d font-sans font-bold text-neutrals-950 md:pb-xxs">Lørdag</h6>
                  <h6 class="text-h6_m lg:text-h6_d font-sans font-bold text-neutrals-950 md:pb-xxs">Søndag</h6>
                </div>
                <div>
                  <h6 class="text-h6_m lg:text-h6_d font-sans font-bold text-neutrals-950 md:pb-xxs">Lukket</h6>
                  <h6 class="text-h6_m lg:text-h6_d font-sans font-bold text-neutrals-950 md:pb-xxs">10-18</h6>
                  <h6 class="text-h6_m lg:text-h6_d font-sans font-bold text-neutrals-950 md:pb-xxs">15-21</h6>
                  <h6 class="text-h6_m lg:text-h6_d font-sans font-bold text-neutrals-950 md:pb-xxs">10-18</h6>
                  <h6 class="text-h6_m lg:text-h6_d font-sans font-bold text-neutrals-950 md:pb-xxs">10-18</h6>
                  <h6 class="text-h6_m lg:text-h6_d font-sans font-bold text-neutrals-950 md:pb-xxs">15-18</h6>
                  <h6 class="text-h6_m lg:text-h6_d font-sans font-bold text-neutrals-950 md:pb-xxs">Lukket</h6>
                </div>
              </div>
              <div class="md:pt-m">
                <p class="text-p text-neutrals-950 pt-sm">Åbningstider gælder også for selvbetjening. Det vil sige, at du kan låse dig ind i vores butikker i den officielle åbningstid.</p>
                <p class="text-p text-neutrals-950 pt-sm">Vi har altid lukket på helligdage (inkl. 1. maj og 5. juni).</p>
                <p class="text-p text-neutrals-950 pt-sm">Vi holder sommerferielukket i uge 29 og 30.</p>
                <p class="text-p text-neutrals-950 pt-sm">Lukket mellem jul og nytår.</p>
              </div>
            </div>
            <div>
              <div>
                <h3 class="text-h3_m lg:text-h3_d font-display text-brown-800 pt-l pb-m md:pt-0">Kontakt</h3>
                <h6 class="text-h6_m lg:text-h6_d font-sans font-bold text-neutral-950 md:pb-xxs">E-mail til København & Roskilde</h6>
                <p class="text-p text-neutrals-950 pt-xxs">kontakt@detkollektiveklaedeskab.dk</p>
                <h6 class="text-h6_m lg:text-h6_d font-sans font-bold text-neutral-950 pt-m md:pb-xxs">E-mail til Aarhus</h6>
                <p class="text-p text-neutrals-950 pt-xxs">aarhus@detkollektiveklaedeskab.dk</p>
                <h6 class="text-h6_m lg:text-h6_d font-sans font-bold text-neutral-950 pt-m md:pb-xxs">Telefon</h6>
                <p class="text-p text-neutrals-950 pt-xxs">+45 60 58 17 35</p>
              </div>
              <div>
                <h3 class="text-h3_m lg:text-h3_d font-display text-brown-800 pt-l pb-m md:pb-s">Tilmeld nyhedsbrev</h3>
                <p class="text-p font-sans text-brown-800">Skriv din email og få nyheder<br />sendt løbende.</p>
                <form class="space-y-s pt-s" name="nyhedsbrev" netlify>
                  <input class="rounded-border-radius-11 border-none py-s px-m min-w-[16.125rem] bg-neutrals-50" id="email" name="email" type="email" placeholder="andersandersen@mail.dk" />
                  <div class="max-w-60">
                    <Button href="/koncept" cardimage_r="/red_l.svg" cardimage_l="/red_r.svg" cardimage_r_alt="rød højre side" cardimage_l_alt="rød venstre side">Indsend</Button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="butik" class="cursor cursor-yellow_blue_cursor">
        <div class="z-10">
          <Image class="flip_horisontal w-full -mb-1" src={figure_blue} alt="Blå bue" />
          <div class="bg-blue-500 h-[2200px] md:h-[1100px] xl:h-[500px] 2xl:h-[500px]"></div>
          <Image class="flip_vertikal w-full -mt-1" src={figure_blue} alt="Blå bue" />
        </div>
        <div class="grid mt-[-2200px] md:mt-[-1100px] lg:mt-[-1100px] xl:mt-[-600px] 2xl:mt-[-650px] gap-xl md:gap-5xl max-w-[20.375rem] md:max-w-[43rem] lg:max-w-[58rem] xl:max-w-[70rem] 2xl:max-w-[87rem] mx-auto">
          <h2 class="text-h2_m md:text-h2_d font-display text-neutrals-50 font-bold text-center">Find en butik nær dig</h2>
          <div class="z-50 grid gap-l md:grid-cols-2 xl:grid-cols-4">
            <Butik
              url="https://www.google.com/maps/place/Kronborggade+1,+2200+K%C3%B8benhavn/@55.6912228,12.5423654,17z/data=!3m1!4b1!4m6!3m5!1s0x465253ade82c3319:0xda9286253c068f4a!8m2!3d55.6912198!4d12.5449403!16s%2Fg%2F11c2bbh_3s?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
              cardimage="/butik_1.webp"
              cardimagealt="Butiksfacade på Nørrebro"
              overskrift="Nørrebro"
              adresse1="Kronborggade 1,"
              adresse2="2200 København N"
            />
            <Butik
              url="https://www.google.com/maps/place/Istedgade+79,+1650+K%C3%B8benhavn/@55.6686142,12.5491751,17z/data=!3m1!4b1!4m6!3m5!1s0x46525375b85b8db1:0x8d855a194a079344!8m2!3d55.6686112!4d12.55175!16s%2Fg%2F11c2hj0hny?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
              cardimage="/butik_2.webp"
              cardimagealt="Butiksfacade på Vesterbro"
              overskrift="Vesterbro"
              adresse1="Istedgade 79,"
              adresse2="1650 København V"
            />
            <Butik
              url="https://www.google.com/maps/place/Ringstedgade+13,+4000+Roskilde/@55.6396634,12.073679,17z/data=!3m1!4b1!4m6!3m5!1s0x46525fda33e4a985:0xfe3942fa996a6900!8m2!3d55.6396604!4d12.0762539!16s%2Fg%2F11c5j1bfgs?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
              cardimage="/butik_3.webp"
              cardimagealt="Butiksfacade på Roskilde"
              overskrift="Roskilde"
              adresse1="Ringstedgade 13,"
              adresse2="4000 Roskilde"
            />
            <Butik
              url="https://www.google.com/maps/place/N%C3%B8rre+All%C3%A9+33,+8000+Aarhus/@56.1597786,10.2011971,17z/data=!3m1!4b1!4m6!3m5!1s0x464c3f94ff3b63b3:0x1136c228e641c2b6!8m2!3d56.1597756!4d10.203772!16s%2Fg%2F11c5jlw8p3?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
              cardimage="/butik_4.webp"
              cardimagealt="Butiksfacade på Aarhus"
              overskrift="Aarhus"
              adresse1="Nørre Allé 33,"
              adresse2="8000 Aarhus"
            />
          </div>
        </div>
      </section>
      <section class="cursor cursor-blue_yellow_cursor mb-64 max-w-[20.375rem] md:max-w-[43rem] lg:max-w-[58rem] xl:max-w-[70rem] 2xl:max-w-[87rem] mx-auto">
        <Personale />
      </section>
    </article>
  </article>
</MainLayout>
