---
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import figure_blue from "../assets/images/section_1.svg";
import logo from "../assets/images/logo.svg";
import Linket from "../components/Linket.astro";
---

<article class="cursor cursor-yellow_blue_cursor">
  <Image class="flip_horisontal w-full mb-[-1px]" src={figure_blue} alt="Blå bue" />
  <section class="bg-blue-500 py-2xl space-y-2xl">
    <div class="flex flex-col gap-2xl lg:flex-row lg:justify-between max-w-[20.375rem] md:max-w-[43rem] lg:max-w-[58rem] xl:max-w-[70rem] 2xl:max-w-[87rem] mx-auto">
      <div class="flex flex-col gap-s">
        <h5 class="text-h5_m font-bold font-sans lg:text-h5_d text-yellow-500">Info</h5>
        <Linket cursor="blue" variant="footerlinks" hover="footerhover" href="/kontakt" target="">Kontakt</Linket>
        <Linket variant="footerlinks" hover="footerhover" href="/kontakt#abningstider">Åbningtider</Linket>
        <Linket variant="footerlinks" hover="footerhover" href="/kontakt#butik">Butikker</Linket>
        <Linket variant="footerlinks" hover="footerhover" href="/koncept#faq">FAQ</Linket>
        <Linket variant="footerlinks" hover="footerhover" href="#">Afmeld medlemsskab</Linket>
        <Linket variant="footerlinks" hover="footerhover" href="#">Medlemsbetingelser</Linket>
        <Linket variant="footerlinks" hover="footerhover" href="#">Handelsesbetingelser</Linket>
        <Linket variant="footerlinks" hover="footerhover" href="#">Privatlivspolitik</Linket>
        <Linket variant="footerlinks" hover="footerhover" href="#">Cookies</Linket>
      </div>
      <div class="flex flex-col gap-s">
        <h5 class="text-h5_m font-bold font-sans lg:text-h5_d text-yellow-500">Følg os</h5>
        <Linket variant="footerlinks" hover="footerhover" target="target_self" href="https://www.instagram.com/detkollektiveklaedeskab/">Instagram</Linket>
        <Linket variant="footerlinks" hover="footerhover" target="target_self" href="https://www.tiktok.com/explore">TikTok</Linket>
      </div>
      <div class="flex flex-col gap-s">
        <h5 class="text-h5_m font-bold font-sans lg:text-h5_d text-yellow-500">Det Kollektive Klædeskab</h5>
        <Linket variant="footerlinks" hover="footerhover" target="target_self" href="https://www.google.com/maps/place/Istedgade+79,+1650+K%C3%B8benhavn/@55.6686112,12.5491751,16z/data=!3m1!4b1!4m6!3m5!1s0x46525375b85b8db1:0x8d855a194a079344!8m2!3d55.6686112!4d12.55175!16s%2Fg%2F11c2hj0hny?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D">Istedgade 79, 1650 København V</Linket>
        <Linket variant="footerlinks" hover="footerhover" href="#">kontakt@detkollektiveklaedeskab.dk</Linket>
        <Linket variant="footerlinks" hover="footerhover" href="#">tlf. 60 58 17 35</Linket>
        <p class="text-p text-yellow-500">CVR: 40402160</p>
      </div>
      <div class="flex flex-col gap-m">
        <div class="flex flex-col gap-s">
          <h5 class="text-h5_m font-bold font-sans lg:text-h5_d text-yellow-500">Nyhedsbrev</h5>
          <p class="text-p text-yellow-500">Skriv din email og få nyheder<br />sendt løbende.</p>
        </div>
        <form class="space-y-s" name="nyhedsbrev" netlify>
          <input class="rounded-border-radius-11 border-none py-s px-m min-w-[16.125rem] bg-neutrals-50" id="email" name="email" type="email" placeholder="andersandersen@mail.dk" />
          <div class="max-w-60">
            <Button href="/koncept" cardimage_r="/red_l.svg" cardimage_l="/red_r.svg" cardimage_r_alt="rød højre side" cardimage_l_alt="rød venstre side">Indsend</Button>
          </div>
        </form>
      </div>
    </div>
    <Image class="w-full max-w-[20.375rem] md:max-w-[43rem] lg:max-w-[58rem] xl:max-w-[70rem] 2xl:max-w-[87rem] mx-auto" src={logo} alt="Logo" />
  </section>
</article>
