---
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import figure_blue from "../assets/images/section_1.svg";
import logo from "../assets/images/logo.svg";
---

<article class="cursor cursor-yellow_blue_cursor">
  <Image class="flip_horisontal w-full" src={figure_blue} alt="Blå bue" />
  <section class="bg-blue-500 py-2xl space-y-2xl">
    <div class="flex flex-col gap-2xl lg:flex-row lg:justify-between max-w-[20.375rem] md:max-w-[43rem] lg:max-w-[58rem] xl:max-w-[70rem] 2xl:max-w-[87rem] mx-auto">
      <div class="flex flex-col gap-s">
        <h5 class="text-h5_m font-bold font-sans lg:text-h5_d text-yellow-500">Info</h5>
        <Link variant="footerlinks" hover="footerhover" href="/kontakt" target="">Kontakt</Link>
        <Link variant="footerlinks" hover="footerhover" href="/kontakt">Åbningtider</Link>
        <Link variant="footerlinks" hover="footerhover" href="/kontakt">Butikker</Link>
        <Link variant="footerlinks" hover="footerhover" href="/kontakt">FAQ</Link>
        <Link variant="footerlinks" hover="footerhover" href="/kontakt">Medlemsbetingelser</Link>
        <Link variant="footerlinks" hover="footerhover" href="/kontakt">Handelsesbetingelser</Link>
        <Link variant="footerlinks" hover="footerhover" href="/kontakt">Privatlivspolitik</Link>
        <Link variant="footerlinks" hover="footerhover" href="/kontakt">Cookies</Link>
      </div>
      <div class="flex flex-col gap-s">
        <h5 class="text-h5_m font-bold font-sans lg:text-h5_d text-yellow-500">Følg os</h5>
        <Link variant="footerlinks" hover="footerhover">Instagram</Link>
        <Link variant="footerlinks" hover="footerhover">TikTok</Link>
      </div>
      <div class="flex flex-col gap-s">
        <h5 class="text-h5_m font-bold font-sans lg:text-h5_d text-yellow-500">Det Kollektive Klædeskab</h5>
        <Link variant="footerlinks" hover="footerhover" href="/kontakt">Istedgade 79, 1650 København V</Link>
        <Link variant="footerlinks" hover="footerhover" href="/kontakt">kontakt@detkollektiveklaedeskab.dk</Link>
        <Link variant="footerlinks" hover="footerhover" href="/kontakt">tlf. 60 58 17 35</Link>
        <p class="text-p text-yellow-500">CVR: 40402160</p>
      </div>
      <div class="flex flex-col gap-m">
        <div class="flex flex-col gap-s">
          <h5 class="text-h5_m font-bold font-sans lg:text-h5_d text-yellow-500">Nyhedsbrev</h5>
          <p class="text-p text-yellow-500">Skriv din email og få nyheder<br />sendt løbende.</p>
        </div>
        <form class="space-y-s" name="nyhedsbrev" netlify>
          <input class="rounded-border-radius-11 border-none py-s px-m min-w-[16.125rem] bg-neutrals-50" id="email" name="email" type="email" placeholder="andersandersen@mail.dk" />
          <Button left="red_l" right="red_r" hover="hover" variant="primary">Indsend</Button>
        </form>
      </div>
    </div>
    <Image class="w-full max-w-[20.375rem] md:max-w-[43rem] lg:max-w-[58rem] xl:max-w-[70rem] 2xl:max-w-[87rem] mx-auto" src={logo} alt="Logo" />
  </section>
</article>
