---
import Link from "../components/Link.astro";
---

<div x-data="{ showmenu: false }" class="p-4 lg:static w-full bg-slate-200">
  <div id="navbar" class="">
    <div id="logo" class="flex flex-row lg:justify-center">
      <nav id="desktopmenu" class="hidden lg:flex">
        <ul class="flex flex-row gap-ml">
          <li class=""><Link variant="header_primary" hover="hoverheaderbrown" href="/koncept">Koncept</Link></li>
          <li class=""><Link variant="header_primary" hover="hoverheaderbrown" href="/abonnement">Abonnement</Link></li>
          <a href="/"><img src="/logo_dark.svg" alt="Logo" class="max-w-32 hidden lg:block" /> </a>
          <li class=""><Link variant="header_primary" hover="hoverheaderbrown" href="/om">Om os</Link></li>
          <li class=""><Link variant="header_primary" hover="hoverheaderbrown" href="/kontakt">Kontakt</Link></li>
        </ul>
      </nav>
    </div>
    <div class="p-5 z-50 bg-yellow-500">
      <div class="flex justify-between">
        <a href="/"><img src="/logo_dark.svg" alt="Logo" class="max-w-[8.688rem] lg:hidden" /> </a>
        <!-- <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu"><img src="/burger.svg" alt="Logo" /> </button> -->
        <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = !showmenu">
          <img :src="showmenu ? '/cross_black.svg' : '/burger.svg'" alt="Menu" />
        </button>
      </div>
      <nav id="mobilmenu" class="flex flex-col content-center pt-4 gap-ml bg-yellow-500 w-screen h-screen" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
        <ul>
          <li class="text-center py-2 border-y-2"><Link variant="header_primary" hover="hoverheaderbrown" href="/koncept">Koncept</Link></li>
          <li class="text-center py-2 border-b-2"><Link variant="header_primary" hover="hoverheaderbrown" href="/abonnement">Abonnement</Link></li>
          <li class="text-center py-2 border-b-2"><Link variant="header_primary" hover="hoverheaderbrown" href="/om">Om os</Link></li>
          <li class="text-center py-2 border-b-2"><Link variant="header_primary" hover="hoverheaderbrown" href="/kontakt">Kontakt</Link></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
