---
import Linket from "../components/Linket.astro";
---

<div x-data="{ showmenu: false }" class="p-4 lg:static w-full bg-slate-200 cursor cursor-blue_yellow_cursor">
  <div id="navbar" class="">
    <div id="logo" class="flex flex-row lg:justify-center">
      <nav id="desktopmenu" class="hidden lg:flex">
        <ul class="flex flex-row gap-ml items-center">
          <li class=""><Linket cursor="blue" variant="header_primary" hover="hoverheaderbrown" href="/koncept">Koncept</Linket></li>
          <li class=""><Linket variant="header_primary" hover="hoverheaderbrown" href="/abonnement">Abonnement</Linket></li>
          <a href="/"><img src="/logo_dark.svg" alt="Logo" class="max-w-36 hidden cursor cursor-blue_yellow_cursor lg:block" /> </a>
          <li class=""><Linket variant="header_primary" hover="hoverheaderbrown" href="/om">Om os</Linket></li>
          <li class=""><Linket variant="header_primary" hover="hoverheaderbrown" href="/kontakt">Kontakt</Linket></li>
        </ul>
      </nav>
    </div>
    <div class="p-5 z-50 bg-yellow-500">
      <div class="flex justify-between">
        <a href="/"><img src="/logo_dark.svg" alt="Logo" class="max-w-[8.688rem] lg:hidden cursor cursor-blue_yellow_cursor" /> </a>
        <button id="burgermenu" class="lg:hidden cursor cursor-blue_yellow_cursor" x-on:click="showmenu = !showmenu">
          <img :src="showmenu ? '/cross_black.svg' : '/burger.svg'" alt="Menu" />
        </button>
      </div>
      <nav id="mobilmenu" class="flex flex-col content-center pt-4 gap-ml bg-yellow-500 w-screen h-screen" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
        <ul>
          <li class="text-center py-2 border-y-2"><Linket variant="header_primary" hover="hoverheaderbrown" href="/koncept">Koncept</Linket></li>
          <li class="text-center py-2 border-b-2"><Linket variant="header_primary" hover="hoverheaderbrown" href="/abonnement">Abonnement</Linket></li>
          <li class="text-center py-2 border-b-2"><Linket variant="header_primary" hover="hoverheaderbrown" href="/om">Om os</Linket></li>
          <li class="text-center py-2 border-b-2"><Linket variant="header_primary" hover="hoverheaderbrown" href="/kontakt">Kontakt</Linket></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
