---
import { Image } from "astro:assets";
import os1 from "../assets/images/os_1.webp";
import os2 from "../assets/images/os_2.webp";
---

<h2 class="text-h2_m md:text-h2_d font-display text-brown-800 text-center mb-xl md:mb-3xl">Hvem er vi?</h2>
<div class="md:grid md:grid-cols-11">
  <div class="mb-2xl md:mb-4xl md:col-start-3 md:col-span-3">
    <Image class="rounded-border-radius-43 mb-m w-full" src={os1} alt="ejer i København og Roskilde" />
    <h4 class="text-h4_m font-sans font-bold text-brown-800 mb-s md:text-h4_d">Lene Olesen</h4>
    <p class="text-p font-sans">CEO og butiksejer København og Roskilde</p>
  </div>
  <div class="md:col-start-7 md:col-span-3">
    <Image class="rounded-border-radius-43 mb-m w-full" src={os2} alt="ejere i Aarhus" />
    <h4 class="text-h4_m font-sans font-bold text-brown-800 mb-s md:text-h4_d">Sara Fritzer & <br />Ekaterina Møller</h4>
    <p class="text-p font-sans">Butiksejere Aarhus</p>
  </div>
</div>
